<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>BusServlet</servlet-name>
        <servlet-class>com.Web.BusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>busrouteServlet</servlet-name>
        <servlet-class>com.Web.busrouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusrouteServlet</servlet-name>
        <servlet-class>com.Web.BusrouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusRouteServlet</servlet-name>
        <servlet-class>com.Web.BusRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>com.Web.BookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusServlet</servlet-name>
        <url-pattern>/BusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>busrouteServlet</servlet-name>
        <url-pattern>/busrouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusrouteServlet</servlet-name>
        <url-pattern>/BusrouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusRouteServlet</servlet-name>
        <url-pattern>/BusRouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
